---
import "../styles/styles.css";
import Head from "../components/Head.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <Head />
        <title>Axiomatic</title>
    </head>
    <body>
        <main>
            <slot />
        </main>
    </body>
</html>
